
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Add a pool</h3>

            <div class="card">

                <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
    </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Price">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Number of people allowed</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number of people">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Image Url</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="url">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
            </div>
        </div>
    </div>
</div>
