$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

* {
  font-family: $font-family;
  text-decoration: none;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 10px;
}

.article-index {
  margin-bottom: 20px;
  width: calc(30% - 20px);
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;

  h2 {
    color: black;
    font-weight: bolder;
    font-size: 20px;
  }

  p {
    color: black;
    font-style: italic;
  }

  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-icon {
  margin-left: 10px;
}

.my-container{
  margin-right: auto;
  margin-left: auto;
  width: 2000px
}
