header {
  background-color: #0058A3;
  color: white;
  // padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  // article {
  //   margin-bottom: 20px;
  //   width: calc(30% - 20px);
  //   padding: 10px;
  //   box-sizing: border-box;
  //   border-radius: 10px;
  //   display: flex;
  //   flex-direction: column;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  //   a {
  //     color: #0058A3;
  //     text-decoration: none;
  //     transition: all 0.3s ease-in-out;
  //     display: block;
  //     padding: 10px;
  //     border: 2px solid #0058A3;
  //     margin-top: auto;
  //     margin-left: auto;
  //     margin-right: auto;

  //     &:hover {
  //       color: white;
  //       background-color: #0058A3;
  //       padding: 10px;
  //     }
  //   }

  //   img {
  //     width: 100%;
  //     height: 450px;
  //     object-fit: cover;
  //     margin-bottom: 10px;
  //   }
  // }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 10px;
}


.article-index {
  margin-bottom: 20px;
  width: calc(30% - 20px);
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.01;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  a {
    color: #0058A3;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 10px;
    border: 2px solid #0058A3;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      color: white;
      background-color: #0058A3;
      padding: 10px;
    }
  }

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 10px;
  }

}

.left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #0058A3;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
