.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: calc(100% - 20px); /* Soustrait 10px de chaque côté pour le padding */
  padding: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;

  .image-container {
    flex: 2;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  .details-container {
    flex: 1;
    margin-left: 2em;

    h2 {
      font-size: 2em;
      color: #333;
    }

    p {
      margin: 0.5em 0;
      color: #666;
      font-size: 1.2em;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: #0058A3;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
