.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: calc(100% - 20px); /* Soustrait 10px de chaque côté pour le padding */
  padding: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
}

  .image-container {
    // flex: 2;

    img {
      object-fit: cover;
      height:350px;
      width: 100%;
      border-radius: 5px;
    }
  }


.content {
  flex: 1 0 auto;
}
