<h1>Book your favourite pool</h1>

<% @bookings.each do |booking|%>
  <img src="<%= booking.pool.url_photo %>" alt="Image de <%= booking.pool.name %>">
  <p> Pool name: <strong><%= booking.pool.id %></strong></p>
  <br>
<% end %>
