<header>
  <nav>
    <ul>
      <li><p>PoolParty</p></li>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Explorer</a></li>
      <li><%= link_to 'Booking', bookings_path(current_user), class: 'button button-center' %></li>
      <li><a href="#">Contactez-Nous</a></li>
    </ul>
  </nav>
</header>
