<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/app/assets/stylesheets/pages/style.css">
      <title>Home | PoolParty</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li><a href="#">Accueil</a></li>
               <li><a href="#">Explorer</a></li>
               <li><a href="#">Contactez-Nous</a></li>
            </ul>
         </nav>
         <h1>PoolParty</h1>
         <p>Trouvez la piscine parfaite pour votre prochain événement</p>
      </header>
      <main>
         <section class="listings">
            <article>
               <img src="piscine1.jpg" alt="Image de la piscine 1">
               <h2>Piscine 1</h2>
               <p>Description de la piscine 1</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine2.jpg" alt="Image de la piscine 2">
               <h2>Piscine 2</h2>
               <p>Description de la piscine 2</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine3.jpg" alt="Image de la piscine 3">
               <h2>Piscine 3</h2>
               <p>Description de la piscine 3</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine4.jpg" alt="Image de la piscine 4">
               <h2>Piscine 4</h2>
               <p>Description de la piscine 4</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine5.jpg" alt="Image de la piscine 5">
               <h2>Piscine 5</h2>
               <p>Description de la piscine 5</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine6.jpg" alt="Image de la piscine 6">
               <h2>Piscine 6</h2>
               <p>Description de la piscine 6</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine7.jpg" alt="Image de la piscine 7">
               <h2>Piscine 7</h2>
               <p>Description de la piscine 7</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine8.jpg" alt="Image de la piscine 8">
               <h2>Piscine 8</h2>
               <p>Description de la piscine 8</p>
               <a href="#">Voir plus</a>
            </article>
            <article>
               <img src="piscine9.jpg" alt="Image de la piscine 9">
               <h2>Piscine 9</h2>
               <p>Description de la piscine 9</p>
               <a href="#">Voir plus</a>
            </article>
         </section>
      </main>
      <footer>
         <p>© 2023 | PoolParty. Tous droits réservés.</p>
      </footer>
   </body>
</html>
