$navbar-height: 60px;

nav {
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  background-color: $blue;
  color: white;
  text-align: center;

  .logo {
    width: 180px;
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .logo:hover {
    scale: 1.02;
    transform: rotate(-3deg);
    transition: color 0.2s ease-in-out;
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    // padding: 0;

    li {
      margin: 0 15px;
      margin-left: 10px;
      // position: relative;

      a {
        color: white;
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        padding: 5px;
        border-radius: 10px;

        &:hover {
          color: $blue;
          background-color: white;
          // padding: 5px;
          // border-radius: 10px;
        }
      }
    }
    .image-profil {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border: 2px solid $blue;

    }
    .image-profil:hover {
      border: 2px solid white;
    }
    .menuprofil {
      position: absolute;
      background-color: $blue;
      right: -15px;
      top: $navbar-height;
      width: 150px;
    }

    .menuprofil a:hover {
      background-color: #fbfbfb;
      color: #0058A3;
    }
  }

  p {
    font-size: 30px;
  }
}

.blank {
  width: 100%;
  height: 30px;
  background-color: white;
}


.avatar-container {
  position: relative;
}

.notif-location {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
}

.logout {
  background-color: #e40d1e;
  // background-color: #0058A3;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 150px;
  border: none;
}
.btn-menu {
  padding: 5px 0 5px 0;
}
// .btn-danger a:hover {
//   background-color: #fbfbfb;
//   color: #0058A3;
// }
