nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 200px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;

    li {
      margin: 0 15px;
      margin-left: 10px;
      position: relative;
      background-color: aqua;
      .notif-location {
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        text-align: center;
        justify-content:center;
        margin: auto;
        position: absolute;
        right: -10px;
        top: -10px;
      }

      a {
        color: white;
        text-decoration: none;
        transition: color 0.4s ease-in-out;

        &:hover {
          color: #0058A3;
          background-color: white;
        }
      }
    }
  }

  p {
    font-size: 30px;
  }
}
.circle {
  border-radius: 50%;
  width: 50px;  /* adjust as needed */
  height: 50px; /* adjust as needed */
}
